# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\fundamentals_of_programming\homework\e1-teodoraarsene\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
